
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #333;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

.home-section {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 150px; */
    margin-right: 600px;
    text-align: center;
    margin: 200px 20px;
    font-size: 50px;
    /* width: 40%; */
  }
  
  .home-section span {
    opacity: 0;
    display: inline-block;
    animation: zoomIn 1s forwards;
    margin: 0 5px;
}

.home-section span:nth-child(1) {
    animation-delay: 0.5s;
}

.home-section span:nth-child(2) {
    animation-delay: 1s;
}

.home-section span:nth-child(3) {
    animation-delay: 1.5s;
}

.home-section span:nth-child(4) {
    animation-delay: 2s;
}

.home-section span:nth-child(5) {
    animation-delay: 2.5s;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
